@page "/adjectives"
@using DataLoaders.Models
@using RealJapanese.Components.Shared
@inherits AdjectiveSelectorBase
@rendermode InteractiveServer

<div class="container my-3">
    <div class="row g-3">
        <div class="col-md-6 col-lg-4">
            <WordList
                TItem="Adjective"
                Title="Known vocabulary"
                AllWords="@AllWords"
                SelectedIds="@KnownIds"
                WordSelected="@OnKnownWordSelected"
                WordDeselected="@OnKnownWordDeSelected"
            />
        </div>

        <div class="col-md-6 col-lg-4">
            <WordList
                TItem="Adjective"
                Title="Currently rehearsing"
                AllWords="@AllWords.Where(w => !KnownIds.Contains(w.Id)).ToList()"
                SelectedIds="@RehearsingIds"
                WordSelected="@OnRehearsingWordSelected"
                WordDeselected="@OnRehearsingWordDeSelected"
            />
        </div>

        <div class="col-md-6 col-lg-4">
            <WordList
                TItem="Adjective"
                Title="Currently training"
                AllWords="@AllWords.Where(w => !KnownIds.Contains(w.Id)).ToList()"
                SelectedIds="@TrainingIds"
                WordSelected="@OnTrainingWordSelected"
                WordDeselected="@OnTrainingWordDeSelected"
            />
        </div>
    </div>
</div>

<ToggleSlider LeftText="Known"
              MiddleText="Rehearsing"
              RightText="Training"
              @bind-SelectedIndex="SelectedCategoryIndex"
/>

<PraticeSelector
    MainUrl="adjectives"
    Pages="@(new List<PraticeSelectorBase.PageDescreption>
           {
               new()
               {
                   Title = "Learn the adjectives",
                   Description = "Practice the spelling of the adjectives",
                   Url = $"spelling?category={SelectedCategoryQueryValue}"
               },
               
               new()
               {
                   Title = "Adjectives type categorisation",
                   Description = "Practice adjectives categorising the different adjectives, into い, な and irregular",
                   Url = $"categories?category={SelectedCategoryQueryValue}"
               },

               new()
               {
                   Title = "Adjectives Conjugation",
                   Description = "Practice adjectives conjugations",
                   Url = "conjugation"
               },
               
               new()
               {
                   Title = "Adjectives Type Conjugation",
                   Description = "Practice corrugating the different types of adjectives conjugations",
                   Url = "conjugateBase"
               }
           })"
/>
