@page "/particals"
@using RealJapanese.Components.Shared
@inherits ParticlesBase
@rendermode InteractiveServer

<PracticeShell UiScale="@UiScale" UiScaleChanged="v => UiScale = v">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <!-- Question card -->
            <div class="col-lg-8 col-md-9 mb-3">
                <FillInBlanksCard
                    Header="@CurrentItem.Header"
                    ProgressText="@ProgressText"
                    Template="@CurrentItem.Template"
                    Answers="@CurrentItem.Answers"
                    BlankToken="__"
                    NextRequested="GoToNextQuestionAsync" />
            </div>

            <!-- Particle help sidebar -->
            <div class="col-lg-4 col-md-3 mb-3">

                <button class="btn btn-outline-secondary mb-2 w-100"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#particleHelp"
                        aria-expanded="false"
                        aria-controls="particleHelp">
                    Particle cheat sheet
                </button>

                <div class="collapse" id="particleHelp">
                    <div class="card">
                        <!-- scrollable body -->
                        <div class="card-body p-2 overflow-auto" style="max-height: 15rem;">
                            <div class="table-responsive">
                                <table class="table table-sm mb-0">
                                    <tbody>
                                    @foreach (var p in Particles)
                                    {
                                        <tr>
                                            <td class="fw-bold text-center fs-3" style="width: 4rem;">
                                                @p.Kana
                                            </td>
                                            <td class="align-middle">
                                    <span class="small">
                                        @p.Description
                                    </span>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</PracticeShell>
