@page "/words/spelling"
@inherits WordSpellingBase
@using RealJapanese.Components.Shared
@rendermode InteractiveServer

<PracticeShell @bind-UiScale="UiScale">
    <div class="container" style="max-width: 400px;">
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <NumberStepper
                    Label="Number of chunks"
                    Value="@splitDataInto"
                    ValueChanged="OnSplitDataIntoChanged"
                    Min="1"
                    Max="10"
                />
            </div>

            <div class="col-12 col-md-6">
                <NumberStepper
                    Label="Selected chunk"
                    Value="@selectedDataChunk"
                    ValueChanged="OnSelectedDataChunkIndexChanged"
                    Min="1"
                    Max="@splitDataInto"
                />
            </div>
        </div>
    </div>
    <PracticeCard
        Title="Practice"
        ProgressText="@(Questions.Count == 0 ? "0/0" : $"{currentQuestionIndex + 1}/{Questions.Count}")"
        Question="@CurrentQuestion"
        Answer="@CurrentAnswer"
        UserInput="@UserInput"
        UserInputChanged="@(v => UserInput = v!)"
        ShowAnswer="@showAnswer"
        RevealRequested="RevealAnswer"
        NextRequested="GoToNextQuestionAsync"
        RevealLabel="Show answer (Enter)"
        NextLabel="Next"
        OnKeyDown="HandleKeyDown"
        @ref="cardRef"/>
</PracticeShell>